<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androide.algebrago">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgebraGo">

        <activity
            android:name=".feature.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".feature.blocks.BlockSelectionActivity" />
        <activity android:name=".feature.levels.LevelSelectionActivity" />
        <activity android:name=".feature.explanation.ExplanationActivity" />
        <activity android:name=".feature.exercise.ExerciseActivity" />
        <activity android:name=".feature.feedback.FeedbackActivity" />
        <activity android:name=".feature.progress.ProgressActivity" />
        <activity android:name=".feature.achivements.AchievementsActivity" />
        <activity android:name=".feature.score.ScoreActivity" />

    </application>

</manifest>
